<%- contentFor("body") %>

<span class="title is-size-3 is-block">Gráfico Shap</span>

A visualização foi criada a partir de um modelo de aprendizado de máquina criado para classificar uma determinada música
se ela é ou não do grupo BTS. Cada linha representa uma feature específica da música e cada ponto representa uma música
específica no conjunto de dados usados para o treinamento do modelo. Valores altos de uma certa feature são representados
por pontos mais rosas e valores mais baixos em cores azuis. Quanto mais para a direita um determinado ponto está, mais
ele contribui para a música ser do BTS e quanto mais para a esquerda mais ele contribui para a música não ser do BTS.

<br/><br/>

<img src="/img/shap.png">