<div class="sidebar is-fullheight">
  <div class="sidebar-header">
    Análise BTS
  </div>

  <a href="/">
    <div class="sidebar-item">
      <span class="icon mr-1"><i class="fa fa-home"></i></span>
      Home
    </div>
  </a>

  <a href="/visualizations/vis-1">
    <div class="sidebar-item">
      <span class="icon mr-1"><i class="fa fa-chart-bar"></i></span>
      Exemplo Gráfico Linha
    </div>
  </a>

  <a href="/visualizations/vis-2">
    <div class="sidebar-item">
      <span class="icon mr-1"><i class="fa fa-chart-line"></i></span>
      Exemplo Scatter Plot
    </div>
  </a>

  <a href="/visualizations/vis-3">
    <div class="sidebar-item">
      <span class="icon mr-1"><i class="fa fa-chart-line"></i></span>
      Exemplos gráfico de barras
    </div>
  </a>

  <a href="/visualizations/vis-4">
    <div class="sidebar-item">
      <span class="icon mr-1"><i class="fa fa-chart-line"></i></span>
      Exemplos lendo CSV
    </div>
  </a>

  <a href="/visualizations/vis-5">
    <div class="sidebar-item">
      <span class="icon mr-1"><i class="fa fa-chart-line"></i></span>
      Exemplos mudando os dados
    </div>
  </a>
</div>